@model ASP.NET_Core_Client.Models.LeaveReport

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>LeaveReport</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ApplicationEntry" class="control-label"></label>
                <input asp-for="ApplicationEntry" class="form-control" />
                <span asp-validation-for="ApplicationEntry" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LeaveValidationId" class="control-label"></label>
                <select asp-for="LeaveValidationId" class="form-control" asp-items="ViewBag.leaveValId">
                    <option value="">Select Leave Validation</option>
                </select>
            </div>
            <div class="form-group">
                <label asp-for="HumanResourceId" class="control-label"></label>
                <select asp-for="HumanResourceId" class="form-control" asp-items="ViewBag.humanResId">
                    <option value="">Select Admin HR</option>
                </select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
